---
#------------------------------------
# Dynamic Zones API Configuration
#------------------------------------
dynamicZonesAPI:
  image: ghcr.io/pfisterer/dynamic-zones
  imagePullPolicy: Always
  version: "latest"
  hostname: "dyndnsapi.example.com"
  replicas: 1

  # Upstream DNS Configuration (RFC 2136 Updates)
  upstreamDNS:
    server: ns.example.de
    port: 53
    tsigName: cloud-ns.example.de
    tsigAlgorithm: hmac-sha256
    tsigSecret: some-base64-secret
    zone: cloud-ns.example.de
    name: ns
    ttl: 60
    updateInterval: 300

  # General Configuration
  apiMode: production
  initialDataProviderScript: ""
  apiTokenTtlHours: 8760 # 1 year
  apiBindString: "" # Optional
  apiBaseUrl: "" # Will default to https://<hostname>

  # Database configuration for this API
  database:
    type: postgres
    name: dynamic_zones
    username: dynamic_zones
    password: changeme
    hostname: your-postgres-host

  # DNS Policy Configuration
  dnsPolicy:
    superAdminEmails:
      - your_mail@example.com
      - second_mail@example.com

  # Zone Defaults
  zoneDefaults:
    defaultAdminTsigKeyName: ""
    defaultAdminTsigKey: ""
    defaultAdminTsigAlg: ""
    defaultRecords: ""

#------------------------------------
# OIDC/Auth Configuration
#------------------------------------
auth:
  oidc:
    issuerUrl: https://sso.example.cloud/realms/example
    clientId: example-cloud-dns

#------------------------------------
# PowerDNS Configuration
#------------------------------------
powerDNS:
  apiKey: my-api-key
  apiUrl: http://localhost:8080
  vhost: localhost
  logLevel: 7
  # Server configuration
  server:
    ip: "141.1.2.3"
    port: 53

#------------------------------------
# Ingress Configuration
#------------------------------------
ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
