---
#------------------------------------
# Self-Service UI Configuration
#------------------------------------
selfServiceUI:
  hostname: "self-service-ui.example.com"
  replicas: 1
  imagePullPolicy: "Always"
  image: "ghcr.io/pfisterer/self-service-ui"
  version: "latest"

#------------------------------------
# Dynamic Zones API Configuration
#------------------------------------
dynamicZonesAPI:
  image: ghcr.io/pfisterer/dynamic-zones
  imagePullPolicy: Always
  version: "latest"
  hostname: "dyndnsapi.example.com"
  replicas: 1

  # Upstream DNS Configuration (RFC 2136 Updates)
  upstreamDNS:
    server: ns.example.de
    port: 53
    tsigName: cloud-ns.example.de
    tsigAlgorithm: hmac-sha256
    tsigSecret: some-base64-secret
    zone: cloud-ns.example.de
    name: ns
    ttl: 60
    updateInterval: 300

  # General Configuration
  apiMode: production
  initialDataProviderScript: ""
  apiTokenTtlHours: 8760 # 1 year
  apiBindString: "" # Optional
  apiBaseUrl: "" # Will default to https://<hostname>

  # Database configuration for this API
  database:
    type: postgres
    name: dynamic_zones
    username: dynamic_zones
    password: changeme

  # DNS Policy Configuration
  dnsPolicy:
    superAdminEmails: your_mail@example.com, second_mail@example.com

  # Zone Defaults
  zoneDefaults:
    defaultAdminTsigKeyName: ""
    defaultAdminTsigKey: ""
    defaultAdminTsigAlg: ""
    defaultRecords: ""

#------------------------------------
# Database Configuration (PostgreSQL via CloudNativePG)
#------------------------------------
database:
  adminUsername: root
  adminPassword: changeme
  persistence:
    storageClass: local-path
    size: 20Gi

#------------------------------------
# OIDC/Auth Configuration
#------------------------------------
auth:
  provider: "oidc" # or 'none'
  oidc:
    issuerUrl: https://sso.example.cloud/realms/example
    clientId: example-cloud-dns

#------------------------------------
# PowerDNS Configuration
#------------------------------------
powerDNS:
  apiKey: my-api-key
  vhost: localhost
  logLevel: 7
  # Server configuration
  server:
    ip: "141.1.2.3"
    port: 53
  persistence:
    storageClass: local-path
    size: 10Gi

#------------------------------------
# Cert Manager Configuration
#------------------------------------
certManager:
  enabled: true
  email: admin@example.com
  clusterIssuer: letsencrypt-production

#------------------------------------
# Ingress Configuration
#------------------------------------
ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
