apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynamic-zones
  namespace: default
  annotations:
    keel.sh/policy: all
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 60m"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dynamic-zones
  template:
    metadata:
      labels:
        app: dynamic-zones
    spec:
{% if zone_provider_type == "script" %}
      volumes:
        - name: script-provider
          configMap:
            name: dynamic-zones-script-provider
{% endif %}          
      containers:
        - name: dynamic-zones
          image: ghcr.io/pfisterer/dynamic-zones:{{ dynamic_zones_version | default("latest") }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8082
{% if zone_provider_type == "script" %}
          volumeMounts:
            - name: script-provider
              mountPath: /app/zone-providers/zone_provider.js
              subPath: zone_provider.js
{% endif %}          


          env:
{% if api_mode is defined %}
            - name: API_MODE
              value: "{{ api_mode }}"
{% endif %}

{% if api_auth_provider == "oidc" %}
            - name: API_AUTH_PROVIDER
              value: "{{ api_auth_provider }}"
            - name: OIDC_ISSUER_URL
              value: "{{ oidc_issuer_url }}"
            - name: OIDC_CLIENT_ID
              value: "{{ oidc_client_id }}"
{% endif %}

              
            - name: ZONE_PROVIDER_DEFAULT_RECORDS
              value: "{{ zone_provider_default_records }}"
            - name: ZONE_PROVIDER_DEFAULT_ADMIN_TSIG_NAME
              value: "{{ zone_provider_default_admin_tsig_name }}"
            - name: ZONE_PROVIDER_DEFAULT_ADMIN_TSIG_KEY
              value: "{{ zone_provider_default_admin_tsig_key }}"
            - name: ZONE_PROVIDER_DEFAULT_ADMIN_TSIG_ALG
              value: "{{ zone_provider_default_admin_tsig_alg }}"
            - name: ZONE_PROVIDER_TYPE
              value: "{{ zone_provider_type }}"

{% if zone_provider_type == "fixed" %}
            - name: ZONE_PROVIDER_FIXED_DOMAIN_SUFFIXES
              value: "{{ zone_provider_fixed_domain_suffixes }}"
            - name: ZONE_PROVIDER_FIXED_DOMAIN_SOA
              value: "{{ zone_provider_fixed_domain_soa }}"
{% elif zone_provider_type == "fixed" %}
            - name: ZONE_PROVIDER_WEBHOOK_URL
              value: "{{ zone_provider_webhook_url }}"
            - name: ZONE_PROVIDER_WEBHOOK_BEARER_TOKEN
              value: "{{ zone_provider_webhook_bearer_token }}"
{% endif %}

{% if zone_provider_type == "script" %}
            - name: ZONE_PROVIDER_SCRIPT_PATH
              value: "/app/zone-providers/zone_provider.js"
{% endif %}

            - name: DB_TYPE
              value: "{{ database_type }}"
            - name: DB_CONNECTION_STRING
              value: "{{ database_connection_string }}"

            - name: PDNS_URL
              value: "{{ powerdns_url }}"
            - name: PDNS_VHOST
              value: "{{ powerdns_vhost }}"
            - name: PDNS_API_KEY
              value: "{{ powerdns_api_key }}"
            - name: PDNS_SERVER_ADDRESS
              value: "{{ powerdns_server_ip }}"
            - name: PDNS_SERVER_PORT
              value: "{{ powerdns_server_port}}"
            - name: PDNS_SERVER_DEFAULT_TTL
              value: "60"

            - name: EXTERNAL_DNS_IMAGE_VERSION
              value: "{{ external_dns_image_version | default('') }}"

{% if api_bind_string is defined %}
            - name: API_BIND
              value: "{{ api_bind_string }}"
{% endif %}
            - name: API_BASE_URL
              value: "https://{{ dynamic_zones_hostname }}"

            - name: API_TOKEN_TTL_HOURS
              value: "{{ api_token_ttl_hours }}"

            - name: UPSTREAM_DNS_SERVER
              value: "{{ upstream_dns_server }}"
            - name: UPSTREAM_DNS_PORT
              value: "53"
            - name: UPSTREAM_DNS_ZONE
              value: "{{ upstream_dns_zone }}"
            - name: UPSTREAM_DNS_NAME
              value: "{{ upstream_dns_name }}"
            - name: UPSTREAM_DNS_TSIG_NAME
              value: "{{ upstream_dns_tsig_name }}"
            - name: UPSTREAM_DNS_TSIG_ALG
              value: "{{ upstream_dns_tsig_alg }}"
            - name: UPSTREAM_DNS_TSIG_SECRET
              value: "{{ upstream_dns_tsig_secret }}"
            - name: UPSTREAM_DNS_TTL
              value: "60"
            - name: UPSTREAM_DNS_UPDATE_INTERVAL
              value: "300"

{% if zone_provider_type == "script" %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dynamic-zones-script-provider
  namespace: default
data:
  zone_provider.js: |
    {{ zone_provider_script_script | indent(4) }}

{% endif %}


---
apiVersion: v1
kind: Service
metadata:
  name: dynamic-zones
  namespace: default
spec:
  selector:
    app: dynamic-zones
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dynamic-zones
  namespace: default
  annotations:
{% if cert_manager_email %}
    # cert-manager annotations to request a certificate
    cert-manager.io/cluster-issuer: letsencrypt-production
{% endif %}
    # NGINX Ingress Controller annotations for HTTP to HTTPS redirection
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  rules:
    - host: "{{ dynamic_zones_hostname }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dynamic-zones
                port:
                  number: 8082
  tls:
    - hosts:
        - "{{ dynamic_zones_hostname }}"
      secretName: dyndns-dhbw-cloud-tls
