# ------------------------------------------------------------------------------
# Namespace is usually created outside Helm, but you can note it here
# ------------------------------------------------------------------------------
namespace: external-dns

# ------------------------------------------------------------------------------
# Image configuration
# ------------------------------------------------------------------------------
image:
  repository: registry.k8s.io/external-dns/external-dns
  tag: "{{ .imageVersion }}"
  pullPolicy: IfNotPresent

# ------------------------------------------------------------------------------
# Provider (Helm-native)
# ------------------------------------------------------------------------------
logLevel: debug

provider:
  name: rfc2136

policy: sync

registry: txt
txtOwnerId: dynamic-zones-dns
txtPrefix: dynamic-zones-dns-


# ------------------------------------------------------------------------------
# CLI arguments corresponding to your deployment spec
# ------------------------------------------------------------------------------
extraArgs:
  - --rfc2136-host={{ .dnsServerAddress }}
  - --rfc2136-port={{ .dnsServerPort }}
  - --rfc2136-zone={{ .zone }}.
  - --rfc2136-tsig-secret={{ .tsigKey }}
  - --rfc2136-tsig-secret-alg={{ .tsigAlgorithm }}
  - --rfc2136-tsig-keyname={{ .tsigKeyname }}
  - --rfc2136-tsig-axfr
  - --source=ingress
  - --domain-filter={{ .zone }}
