apiVersion: v1
kind: Namespace
metadata:
  name: external-dns
  labels:
    name: external-dns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: external-dns
spec:
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      containers:
      - name: external-dns
        image: registry.k8s.io/external-dns/external-dns:v0.18.0
        args:
        - --registry=txt
        - --txt-prefix={{.txtPrefix}}
        - --txt-owner-id={{.txtOwnerId}}
        - --provider=rfc2136
        - --rfc2136-host={{.dnsServerAddress}}
        - --rfc2136-port={{.dnsServerPort}}
        - --rfc2136-zone={{.zone}}.
        - --rfc2136-tsig-secret={{.tsigKey}}
        - --rfc2136-tsig-secret-alg={{.tsigAlgorithm}}
        - --rfc2136-tsig-keyname={{.tsigKeyname}}
        - --rfc2136-tsig-axfr
        - --source=ingress
        - --domain-filter={{.zone}}
